<ng-container *ngIf="isLoggedIn; else authRoutes">
  <router-outlet></router-outlet>
</ng-container>

<ng-template #authRoutes>
  <router-outlet></router-outlet>
</ng-template>


<footer *ngIf="isLoggedIn" class="app-footer">
  <p>
    <span class="version"><strong>Version:</strong> v1.0.0</span> |
    <a href="https://github.com/RashiGoyal17/Resource-Tracker-App" target="_blank">Contribute on GitHub</a> |
    <a href="https://github.com/RashiGoyal17/Resource-Tracker-App/issues" target="_blank">Report a Bug</a>
  </p>
  <p>
    Developed by <strong>Rashi Goyal</strong>
  </p>
</footer>